<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>WishList</title>
</head>
<body>
    <h1>Wish List</h1>

    <div id = "top-div">
    <form action="/make" method = "POST">
        <input type = "text" id="item" name='item'>
        <input type="submit" value ='Add' class="btn" name='add_Button' >
    </form>
</div>

    {% if wish_list|length < 1 %}
        <h4 id="empty_id">Add your Wishes, friend</h4>
    {% else %}
    <table>
        <tr>
            <th>Item</th>
            <th>Action</th>
    </tr>
    {% for wish in wish_list %}
    <tr>
        <td>
            {{ wish.id }} | {{ wish.text }}
            {% if wish.granted == False %}
                <input type="checkbox" disabled>
            {% else %}
                <input type="checkbox" checked>
            {% endif %}
        </td>
        <td>
            <a href="/delete/{{ wish.id }}" class="btn" name="delete">Delete</a>
                {% if wish.granted == False %}
                    <a href="/update/{{ wish.id }}" class="btn" name="update">Grant</a>
                {% else %}
                    <a href="/update/{{ wish.id }}" class="btn" name="update">Disgrant</a>
                {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
</body>
</html>